{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "printWidth": 250,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore"
}
