// Colors
$col_primary: #0070f3;
$col_primary_dark: #005bb5;
$col_secondary: #2d9e98;
$col_secondary_dark: #1e837e;

$col_black: #000;
$col_gray_light_1: #ddd;
$col_gray_dark_1: #777;
$col_white: #fff;

// Breakpoints
$vw_pc: 1920px;
$vw_tab: 1200px;
$vw_mo: 768px;
