@charset 'utf-8';

@use './variables' as var;
@use './mixins' as mixin;
@use './functions' as fn;

.guide {
  $col_gray: #ddd;
  padding: 2rem;
  font-size: 1rem;

  .guide-title {
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 2rem;
  }
  .guide-status {
    display: flex;
    margin-bottom: 1rem;
    line-height: 1rem;

    > p {
      &:not(:last-of-type)::after {
        content: '\00a0\00a0|\00a0\00a0';
      }
      b {
        color: var.$col_primary;
      }
    }
  }
  .guide-table-wrapper {
    position: relative;
    width: 100%;
    overflow-x: auto;
  }
  .guide-table {
    width: 116rem;
    margin: 0 auto;
    border: 1px solid $col_gray;
    border-spacing: 0;

    th,
    td {
      padding: 0.25rem 1rem;
      font-size: 1rem;
    }
    thead {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 2;
      tr {
        th {
          color: var.$col_white;
          background-color: var.$col_primary;
          border-bottom: 1px solid $col_gray;

          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5) {
            width: 8.6%;
          }
          &:nth-of-type(6) {
            width: 15%;
          }
          &:nth-of-type(7) {
            width: 8%;
          }
          &:nth-of-type(8),
          &:nth-of-type(9) {
            width: 8%;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          a {
            color: #64a2ff;
            text-decoration: underline;
          }
        }
        &:not(:last-of-type) td {
          border-bottom: 1px solid $col_gray;
        }
      }
    }
  }
}
