@charset "utf-8";

.guide .header {
  margin: 0 0 40px;
}
.guide .header .header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.guide .header .header-wrap ul {
  display: flex;
}
.guide .header .header-wrap ul li {
  position: relative;
  padding-right: 30px;
}
.guide .header .header-wrap ul li:last-child {
  padding-right: 0;
}
.guide .header .header-wrap ul li::after {
  display: block;
  content: '';
  position: absolute;
  top: 4px;
  right: 13px;
  width: 1px;
  height: 60%;
  background-color: #000;
}
.guide .header .header-wrap ul li:last-child::after {
  width: 0;
}
.guide .header .header-wrap ul li a {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.guide .header h1 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
  line-height: 32px;
}
.guide .header h2,
.guide .guide_tit h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.guide .table-date.date-main span {
  font-size: 16px;
  font-weight: 700;
}
.guide .header h2,
.guide .guide_tit,
.guide .sub-header.type2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.guide .guide_tit {
  position: sticky;
  top: 0;
  left: 0;
  padding: 20px 24px;
  color: #fff;
  background-color: #000;
  border-radius: 8px;
}
.guide .header h3,
.guide .header .table-date,
.guide .sub-header.type2 h3,
.guide .sub-header.type2 .table-date {
  display: table-cell;
  vertical-align: middle;
}
.guide .sub-header.type2 .table-date {
  font-size: 14px;
  text-align: right;
}
.guide .table-date.date-main span {
  font-weight: bold;
}
.guide .content {
  min-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}
.guide footer {
  padding: 0 24px;
  min-width: 1024px;
  max-width: 1920px;
  margin: 20px auto 40px;
  font-size: small;
  color: silver;
  box-sizing: border-box;
}
.guide .pages-table,
.guide .pages-table th,
.guide .pages-table td {
  padding: 8px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 14px;
  line-height: 1.2;
}
.guide .pages-table tbody {
  background: #fff;
}
.guide .pages-table:last-child,
.guide .pages-table th:last-child,
.guide .pages-table td:last-child {
  border-right: 0;
}
.guide .pages-table td.etc {
  font-size: 0.7em;
}
.guide .pages-table th {
  font-weight: 700;
  background-color: #e7e7e7;
}
.guide .done {
  background-color: rgba(0, 0, 0, 0.05);
  border: 2px solid #232323;
}
.guide .ing {
  color: #ff3613;
}
.guide .ing a {
  display: block;
  color: #ff2600;
}
.guide .pages-list-cp {
  margin: 10px auto;
  margin-bottom: 40px;
}
.guide .pages-list-cp .sub-header.type2 h3 {
  font-size: 18px;
  font-weight: 700;
}
.pages-list-ver {
  margin: 30px 0;
}
.pages-list-ver .ver-tit {
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background-color: #9e9e9e;
}
.guide .pages-table {
  margin: 10px auto;
  width: 100%;
}
.guide .table-date {
  text-align: right;
}
.guide .pages-list-content {
  margin: 20px 0;
}
.guide .title-pages-list {
  line-height: 1.2;
}
#calendar {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  border: 1px solid #ddd;
}

/* UI 가이드 */
.guide .ui-guide {
  min-width: 1024px;
  margin: 50px auto 0;
  padding: 0 20px;
}
.guide .ui-guide h3 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}
.guide .ui-guide h3::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.guide .ui-guide .guide-wrap {
  margin-bottom: 50px;
}
.guide .ui-guide .guide-btn-wrap {
  display: flex;
  align-items: center;
}
.guide .ui-guide .guide-btn {
  padding-right: 20px;
}
.guide .ui-guide .guide-list-wrap {
  display: flex;
}
.guide .ui-guide .guide-list-wrap .guide-list {
  padding-right: 30px;
}
.guide .ui-guide .guide-flag-wrap {
  display: flex;
  align-items: center;
}
.guide .ui-guide .guide-flag-wrap .guide-flag,
.guide .ui-guide .guide-flag-wrap .guide-badge {
  padding-right: 20px;
}
